#root {
    width: 100%;
    height: 100%;
    font-family: Calibri;
}

h3, h4 {
    padding-right: 5px;
    margin: 0;
}

p {
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
}

.photo {
    max-width: 150px;
    max-height: 150px;

}

.borderWrapper {
    border: 1px solid #cbcbcb;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    margin: 0 auto;
    min-width: 545px;
    max-width: 800px;
    box-shadow: 0 2px 8px #cbcbcb;
}

.mainWrapper {
    border-bottom: 1px solid #cbcbcb;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.photoWrapper{

}

.info{
    width: 100%;
}
.photo {
    margin: 15px;
    width: 130px;
    height: 130px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    width: 100%;
}

.favorite{
    align-self: flex-end;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.rating{
    margin-top: 7px;
    width: 20px;
    height: 20px;
}

.contentWrapper {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
}

.description {
    word-wrap: break-word;
    font-size: 13px;
}

#locationInfo{
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.inputStyle {
    align-self: center;
    padding: 10px;
    margin: 0 0 10px 0;
    width: 95%;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    font-size: 15px;
}

.funcBtnWrapper{
    display: flex;
    justify-content: center;

}

.formBtnGroup{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button, .delButton{
    margin: 5px;
    border-radius: .15em;
    border: none;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    padding: .6em 2em .6em 2em;
    letter-spacing: .1em;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition: background-color 250ms ease, color 250ms ease;
    background-color: #18cd4d;
    color: #fff;
}

.button:hover, .delButton:hover{
    background-color:rgba(24, 205, 77, 0.7);
}

.button:disabled{
    background-color:rgba(24, 205, 77, 0.5);
    cursor: not-allowed;
}

.bottomWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ratingWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.hide{
    display: none;
}

.historyElement{
    width: 280px;
    margin: 0 auto;
    padding: 10px ;
    border-bottom: 1px solid darkgrey;

}

.error{
    border: 1px solid red;
}

.counters{
    display: flex;
    justify-content: center;
}

.counters p{
    font-size: 28px;
}

.green{
    color: #18cd4d;
}

.red{
    color: red;
}

